[submodule "third_party/libheif"]
	path = third_party/libheif
	url = https://github.com/strukturag/libheif.git
	version = v1.23.5
[submodule "third_party/kvazaar"]
	path = third_party/kvazaar
	url = https://github.com/ultravideo/kvazaar.git
	ignore = dirty
	version = v2.3.2
[submodule "third_party/libde265"]
	path = third_party/libde265
	url = https://github.com/strukturag/libde265.git
	version = v1.1.3
[submodule "third_party/libavif"]
	path = third_party/libavif
	url = https://github.com/AOMediaCodec/libavif.git
	shallow = true
	version = v1.4.2
[submodule "third_party/aom"]
	path = third_party/aom
	url = https://aomedia.googlesource.com/aom
	shallow = true
	version = v3.15.1
[submodule "third_party/libwebp"]
	path = third_party/libwebp
	url = https://github.com/webmproject/libwebp.git
	shallow = true
	version = v1.6.0
[submodule "third_party/libjpeg-turbo"]
	path = third_party/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
	shallow = true
	version = 3.2.0
