
/* Define vaiables */
:root{
  /*   colors   */
    --main-color: #ffffff;
    --main-semi-2-color: rgba(255,255,255,.3);
    --accent-color: rgba(14,18,20,1);
    --accent-semi-2-color: rgba(14,18,20,.2);
    --accent-positive: rgba(71,171,108);
    --accent-negative: rgba(255,0,0);
    --accent-inactive: rgba(14,18,20,.1);

    /*   dots   */
    --dot-size: 10px;

    overflow-x: hidden;
    overflow-y: scroll;
}
::-webkit-scrollbar { 
  display: none; 
}

/* Define Elementes */
body{
    background-color: var(--accent-color);
    color: var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: var(--main-color);
}

.inactive{
  color: var(--accent-inactive) !important;
}

footer{
  background-color: var(--accent-color);
  background-image: -webkit-repeating-radial-gradient(center center, var(--main-semi-2-color), var(--accent-semi-2-color) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: var(--dot-size) var(--dot-size);
  height:100px;
  width:100vw;
  position: fixed;
  bottom:0px;
  left: 0px;
  opacity: .9;
}

header{
    background-color: var(--main-color);
    width: 100vw;
    padding: 0;
    margin:0;
    border: 0;
    background-image: -webkit-repeating-radial-gradient(center center, var(--accent-semi-2-color), var(--accent-semi-2-color) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: var(--dot-size) var(--dot-size);
}

h1{
    font-size: 20pt;
    align-content: center;
    text-align: center;
    vertical-align: middle;
    padding-top: 5vmax;
    padding-bottom: 5vmax;
    padding-left: 0;
    padding-right: 0;
    color: var(--accent-color);
    font-weight: 800;
    margin: 0;
}


/* Define classes */
/* Define containers */

.submition-error{
  color: var(--accent-negative);
  font-size: 8pt;
}

/* Row container */
.row-subheader{
  display:-block;
  align-content: space-between;
  -webkit-flex-wrap: wrap;
  -webkit-align-content: center;


    width: 100vw;
    max-height: 500px;
}

.container-0{
  display: inline-block;
  width: calc(100% - 10px);
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right: 5px;
  align-content: center;
  vertical-align: middle;
  text-align: center;
  border-width: 0px;
}

.container-1{
  display: inline-block;
  width: calc(100% - 14px);
  padding: 0px;
  margin: 5px;
  align-content: center;
  vertical-align: middle;
  text-align: center;
  border-width: 0px;
}

.container-2{
  display: inline-block;
  width: calc(50% - 12px);
  padding: 0px;
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom:10px;
  align-content: center;
  vertical-align: middle;
  text-align: center;
}

.group-1{
  display: inline-block;
  width: calc(100% - 24px);
  padding: 0px;
  margin: 10px;
  align-content: center;
  vertical-align: middle;
  text-align: center;
  border: dotted;
  border-width: 2px
}

.subcontainer-5{
  display: inline-block;
  /*width: calc(20% - 20px);*/
  padding: 5px;
  margin: 5px;
  align-content: center;
  vertical-align: middle;
  text-align: center;
}

/* Vainity file input container */
.input-container {
  color: var(--accent-color);
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  align-content: left;
  vertical-align: middle;
  text-align: left;
}
.input-container input[type='file'] {
    display: none;
}
.input-File-info {
    font-size: 0.9em;
}


/* Various classes */


.semi-2{
  color: rgba(14,18,20,.2);
  transition: all 0.5s ease-in-out;
  font-size: 10vw;
}
.semi-2:hover{
  color: var(--accent-color);
}

/* Vanity input file browser button */
.input-browse-btn {
    background: var(--accent-color);
    color: var(--main-color);
    min-height: 35px;
    padding: 10px;
    border: none;
}
.input-browse-btn:hover {
    background: var(--accent-positive);
    cursor: pointer;
}


/* Vanity output file browser button  */
.output-browse-btn {
    background: var(--accent-color);
    color: var(--main-color);
    min-height: 35px;
    padding: 10px;
    border: none;
}
.output-browse-btn:hover {
    background: var(--accent-positive);
    cursor: pointer;
}
.output-File-info {
    font-size: 0.9em;
}

/* Floating submit button */
.fab {
    width: 70px;
    height: 70px;
    background-color: var(--accent-positive);
    border-radius: 50%;
    /*box-shadow: 0 6px 10px 0 #555;*/
    transition: all 0.1s ease-in-out;
    border-width: 0;
    font-size: 50px;
    color: var(--main-color);
    text-align: center;
    line-height: 70px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 99;
}
.fab:hover {
    background-color: var(--accent-positive);
    /*box-shadow: 0 6px 14px 0 #555;*/
    transform: scale(1.05);
    cursor: pointer;
}

/* thumbs up */
.submit{
  transition: all 0.1s ease-in-out;
}
.submit:hover{
  transform: rotate(-20deg) scale(1.1);
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button{
  border: none;
  border-style: none;
  border-image: none;
  outline:none;
}

input[type="button" i]:active{
  background-color: yellow;
}

.options{
  display: none;
}

.visible{
  display: inline-block !important;
}


.footSpacer{
  width: 100vw;
  height:100px;
}

/**********************
//Advanced Options
**********************/
.advanced{
  color:var(--accent-color);
  background-color: var(--main-color);
}

.quality-btn {
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
}
.quality-info {
  font-size: 0.9em;
}

.alphaQuality-btn {
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
}
.alphaQuality-info {
  font-size: 0.9em;
}

.cMethod-btn {
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
}
.cMethod-info {
  font-size: 0.9em;
}

.segments-btn {
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
}
.segments-info {
  font-size: 0.9em;
}

.targetSize-btn {
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
}
.targetSize-info {
  font-size: 0.9em;
}

.sns-btn {
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
}
.sns-info {
  font-size: 0.9em;
}

.mode-btn {
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
}
.mode-info {
  font-size: 0.9em;
}

.btn{
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
  width:100%;
}

.filterStrength-btn {
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
}
.filterStrength-info {
  font-size: 0.9em;
}

.filterSharp-btn {
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
}
.filterSharp-info {
  font-size: 0.9em;
}

.targetPSNR-btn {
  background: var(--main-color);
  color: var(--accent-color);
  min-height: 35px;
  padding: 10px;
  border: none;
}
.targetPSNR-info {
  font-size: 0.9em;
}

.advanced-container{
  color: var(--main-color);
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  align-content: left;
  vertical-align: middle;
  text-align: left;
}

.inlineB{
  display: inline-block;
}

/************************
// Sliders
*************************/

.reversedInput{
  direction: rtl;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;  
  background: var(--accent-color);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top:12.5px;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 0%; 
  background: var(--accent-positive);
  
  cursor: pointer;
}

.toggleAdvanced{
  cursor: pointer;
  display: block !important;
  padding:10px;
}


/************************
// inactive Sliders
*************************/

.inactive input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;  
  background: var(--accent-inactive);
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top:12.5px;
}
.inactive input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 0%; 
  background: var(--accent-inactive);
  cursor: pointer;
}

.inactive .toggleAdvanced{
  cursor: pointer;
  display: block !important;
  padding:10px;
}



input[type=number]
{
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  border: none;
  background: transparent;
  color: var(--main-color);
}

.numberContainer{
  display: inline-flex;
  width: calc(100% - 120px);
}

.info{
  position: relative;
  float: right;
  top:50%;
  height: 16pt;
}



.tooltip {
  position: relative;
  display: inline-block;
  float:right;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: calc(50vw - 83px);
  background-color: var(--main-color);
  color: var(--accent-color);
  text-align: center;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: calc(((50vw - 83px) / 2) * -1);
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}





/* Customize the label (the container) */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkboxcheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxcontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxcontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxcheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxcontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}









/* Customize the label (the container) */
.radioContainer {
  display: block;
  position: relative;
  padding-left: 25px;
  /*margin-bottom: 12px;*/
  cursor: pointer;
  font-size: .9em;
  -webkit-user-select: none;
  user-select: none;
  text-align: left;
}

/* Hide the browser's default radio button */
.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radioCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: var(--accent-semi-2-color);
  border-radius: 0%;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .radioCheckmark {
  background-color: var(--accent-color);
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .radioCheckmark {
  background-color: var(--accent-positive);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radioCheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .radioCheckmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .radioCheckmark:after {
  top: 4.5px;
  left: 4.5px;
  width: 6px;
  height: 6px;
  border-radius: 0%;
  background: var(--main-color);
}